
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

/* Forms */
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 30vh;
        // border: 1px solid #bbb;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 1px 20px 20px #e6e6e6,
        -1px -20px 20px #e6e6e6;
        height: fit-content;
        background-color: #fff;
        input {
            width: 100%;
            height: 3rem;
            border: 1px solid #bbb;
            border-radius: 10px;
            padding: 20px 10px;
            &:focus {
                outline: none;
            }
            &[type="submit"]{
                padding: 0;
                color: #ffffff;
            }
        }
        label {
            margin-top: 20px;
            margin-bottom: 6px;
        }
        li{
            color: red !important;
        }
    }
    @media (min-width: 1000px) {
        .form-wrapper form {
            width: 30vw;
        }
    }
}

.bg-teal{
    background-color: #43cfce !important;
    color: #ffffff;
}
.txt-teal{
    color: #43cfce !important;
}
#hero-text{
    text-transform: capitalize;
    text-shadow: 0px 0px 3px #43cfce;
    font-size: 3rem;
    letter-spacing: 3px;
}
.hero-image{
    border-radius: 50%;
    max-width: 15rem;
    max-height: 15rem;
    overflow: hidden;
    margin: auto;
    img{
        width: 100%;
        height: auto;
    }
}