* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

/* Forms */
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 30vh;
        input {
            width: 100%;
            height: 3rem;
            border: 1px solid #bbb;
            border-radius: 10px;
            padding: 20px 10px;
            &:focus {
                outline: none;
            }
        }
        label {
            margin-top: 20px;
            margin-bottom: 6px;
        }
    }
    @media (min-width: 1000px) {
        .form-wrapper form {
            width: 30vw;
        }
    }
}
